* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* --------------- */

main {
  padding-top: 30px;
}

main header {
  width: 80%;
  height: 10vh;
  margin: auto;
  background-color: silver;
  border: solid;
  border-radius: 50px;
  /* ------ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-size: 1.4rem;
}

main header #logo {
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main header nav a {
  /* space b/w the nav a's  */
  margin-right: 30px;
  /* space inside the nav a's */
  padding: 7px 12px;
  /* default border of the nav a's */
  border: 1px solid silver;
  border-radius: 20px;
}

main header nav a:hover {
  border: 1px solid black;
  background-color: white;
}

/* ------ hero section starts  */

main .hero-section {
  width: 100%;
  height: 80vh;

  /* ----- */
  display: flex;
  gap: 10px;
}

main .hero-section .left-hero-section,
main .hero-section .right-hero-section {
  width: 49%;
  height: 100%;
}

main .hero-section .left-hero-section {
  padding: 8% 0px 0px 10%;
}

main .hero-section .left-hero-section h1 {
  font-size: 5rem;
}

main .hero-section .left-hero-section p {
  font-size: 1.2rem;
  color: rgb(72, 72, 72);
  /*  to add the space b/w the h1 , p & btn  */
  margin: 20px 0px;
}

main .hero-section .left-hero-section button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 9px;
}

main .hero-section .right-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------ hero section ends   */

/* ------ project section starts   */
main .project-section {
  width: 100%;
  height: 100%;
  border: solid;
  /* -------- */
  display: flex;
  justify-content: center;
  align-items: center;
}

main .project-section .project-container {
  width: 60%;
  height: 70%;
  background-color: teal;
  padding-top: 30px;
  border-radius: 15px;
}

main .project-section .project-container .project-content {
  width: 80%;
  height: 80%;
  background: wheat;
  border-radius: 10px;
  margin: auto;
  /* ----- */
  background-image: url("./project-content-bgimg.png");
  background-position: top;
  background-size: cover;

}

main .project-section .project-container .project-content:hover{
    background-size: 120%;
    cursor: pointer;
}



main .project-section .project-container p {
  text-align: center;
  color: blue;
  margin-top: 10px;
}

main .project-section .project-container p a {
  color: #01018a;
  font-size: 2rem;
  
}

/* ------ project section ends   */