* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

main{
    padding-top: 100px;
}

nav {
  width: 80%;
  height: 7vh;
  background-color: silver;
  /* divides the outside space into 2 half */
  margin: auto;
  padding: 5px 0 5px 20px;
  border-radius: 20px;

  /* ----- &&&&&&& -------- */

  /* we stick the content with respect to their parent */
  position: sticky;
  /* where we need to stick in the web page */
  top: 10%;
}

.fixedAppleImg{
  /* we fix the content on a screen */
  position: fixed;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  width: 10vw;
  border: 2px solid salmon;
}